<style>
  table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  .point-table{
    margin-left: 500px;
  }
</style>

<u><h1 style="margin-left: 520px;">Premiere League Goal Table</h1></u>
<table class="points-table" style="margin-left: 190px;margin-top: 20px;width: 1050px;text-align: center;border: 1px solid black; padding: 5px;">
  <thead>
  <tr>
    <th>Points</th>
    <th>Win</th>
    <th>Loss</th>
    <th>Draw</th>
    <th>Scored Goals</th>
    <th>Recieved Goals</th>
    <th>Matches Played</th>
    <th>Goal Difference</th>
    <th style="width: 30%;">Club</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let goalsort of clubs[0]">
    <td>{{goalsort.points}}</td>
    <td>{{goalsort.winCount}}</td>
    <td>{{goalsort.defeatCount}}</td>
    <td>{{goalsort.drawCount}}</td>
    <td>{{goalsort.scoredGoalsCount}}</td>
    <td>{{goalsort.receivedGoalsCount}}</td>
    <td>{{goalsort.matchesPlayed}}</td>
    <td>{{goalsort.scoredGoalsCount - goalsort.receivedGoalsCount}}</td>
    <td style="width: 30%;">{{goalsort.name}}</td>
  </tr>
  <tr *ngFor="let goalsort of clubs[1]">
    <td>{{goalsort.points}}</td>
    <td>{{goalsort.winCount}}</td>
    <td>{{goalsort.defeatCount}}</td>
    <td>{{goalsort.drawCount}}</td>
    <td>{{goalsort.scoredGoalsCount}}</td>
    <td>{{goalsort.receivedGoalsCount}}</td>
    <td>{{goalsort.matchesPlayed}}</td>
    <td>{{goalsort.scoredGoalsCount - goalsort.receivedGoalsCount}}</td>
    <td style="width: 30%;">{{goalsort.name}}</td>
  </tr>
  </tbody>
</table>
